In [1]:
import pandas as pd

In [140]:
import glob

In [141]:
for f in glob.glob('*.xlsm'):
    print(f)

228Report(October)cutwith1.5SD_Final_Addผลเพิ่ม.xlsm

In [142]:
for f in glob.glob('*.xlsm'):
    dat = pd.read_excel(f, sheetname="data", skiprows=range(13))
    trial_id = 228 # file name
    for test in test_dict.iteritems():
        tname, tinfo = test
        insert_result(tinfo['id'], tinfo['columns'])

1
  NUM     3.0
  NUM     3.0
BCG       4.8
BCP       NaN
Vitros    NaN
Name: 2, dtype: float64
1
  NUM     4.0
  NUM     4.0
BCG       NaN
BCP       5.4
Vitros    NaN
Name: 3, dtype: float64
1
  NUM     7.00
  NUM     7.00
BCG       5.24
BCP        NaN
Vitros     NaN
Name: 6, dtype: float64
1
  NUM     12.0
  NUM     12.0
BCG        5.8
BCP        NaN
Vitros     NaN
Name: 13, dtype: float64
1
  NUM     24.0
  NUM     24.0
BCG        5.2
BCP        NaN
Vitros     NaN
Name: 25, dtype: float64
1
  NUM     31.0
  NUM     31.0
BCG        NaN
BCP        5.2
Vitros     NaN
Name: 32, dtype: float64
1
  NUM     43.0
  NUM     43.0
BCG        NaN
BCP        5.2
Vitros     NaN
Name: 44, dtype: float64
1
  NUM     45.0
  NUM     45.0
BCG        5.4
BCP        NaN
Vitros     NaN
Name: 46, dtype: float64
1
  NUM     60.0
  NUM     60.0
BCG        5.0
BCP        NaN
Vitros     NaN
Name: 61, dtype: float64
1
  NUM     64.0
  NUM     64.0
BCG        5.1
BCP        NaN
Vitros     NaN
Name: 66, dtype: float64
1
  NUM     65.0
  NUM     65.0
BCG        4.9
BCP        NaN
Vitros     NaN
Name: 67, dtype: float64
1
  NUM     70.0
  NUM     70.0
BCG        5.2
BCP        NaN
Vitros     NaN
Name: 72, dtype: float64
1
  NUM     71.00
  NUM     71.00
BCG        5.08
BCP         NaN
Vitros      NaN
Name: 73, dtype: float64
1
  NUM     83.0
  NUM     83.0
BCG        5.2
BCP        NaN
Vitros     NaN
Name: 86, dtype: float64
1
  NUM     94.0
  NUM     94.0
BCG        5.3
BCP        NaN
Vitros     NaN
Name: 97, dtype: float64
1
  NUM     98.0
  NUM     98.0
BCG        NaN
BCP        5.2
Vitros     NaN
Name: 101, dtype: float64
1
  NUM     100.0
  NUM     100.0
BCG         4.6
BCP         NaN
Vitros      NaN
Name: 103, dtype: float64
1
  NUM     101.0
  NUM     101.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 105, dtype: float64
1
  NUM     110.00
  NUM     110.00
BCG         5.35
BCP          NaN
Vitros       NaN
Name: 114, dtype: float64
1
  NUM     113.0
  NUM     113.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 117, dtype: float64
1
  NUM     115.0
  NUM     115.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 119, dtype: float64
1
  NUM     120.00
  NUM     120.00
BCG         5.24
BCP          NaN
Vitros       NaN
Name: 124, dtype: float64
1
  NUM     121.0
  NUM     121.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 125, dtype: float64
1
  NUM     131.0
  NUM     131.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 135, dtype: float64
1
  NUM     132.0
  NUM     132.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 136, dtype: float64
1
  NUM     135.0
  NUM     135.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 139, dtype: float64
1
  NUM     146.00
  NUM     146.00
BCG         5.68
BCP          NaN
Vitros       NaN
Name: 150, dtype: float64
1
  NUM     152.0
  NUM     152.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 156, dtype: float64
1
  NUM     154.00
  NUM     154.00
BCG         5.33
BCP          NaN
Vitros       NaN
Name: 158, dtype: float64
1
  NUM     160.0
  NUM     160.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 164, dtype: float64
1
  NUM     164.0
  NUM     164.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 168, dtype: float64
1
  NUM     167.0
  NUM     167.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 171, dtype: float64
1
  NUM     173.0
  NUM     173.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 177, dtype: float64
1
  NUM     175.0
  NUM     175.0
BCG         NaN
BCP         NaN
Vitros      5.7
Name: 179, dtype: float64
1
  NUM     179.00
  NUM     179.00
BCG         4.97
BCP          NaN
Vitros       NaN
Name: 183, dtype: float64
1
  NUM     182.0
  NUM     182.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 186, dtype: float64
1
  NUM     190.0
  NUM     190.0
BCG         4.9
BCP         NaN
Vitros      NaN
Name: 194, dtype: float64
1
  NUM     191.0
  NUM     191.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 195, dtype: float64
1
  NUM     193.0
  NUM     193.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 197, dtype: float64
1
  NUM     201.0
  NUM     201.0
BCG         4.7
BCP         NaN
Vitros      NaN
Name: 205, dtype: float64
1
  NUM     204.0
  NUM     204.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 208, dtype: float64
1
  NUM     222.00
  NUM     222.00
BCG         5.43
BCP          NaN
Vitros       NaN
Name: 227, dtype: float64
1
  NUM     229.0
  NUM     229.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 234, dtype: float64
1
  NUM     235.0
  NUM     235.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 240, dtype: float64
1
  NUM     240.0
  NUM     240.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 245, dtype: float64
1
  NUM     241.0
  NUM     241.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 246, dtype: float64
1
  NUM     254.00
  NUM     254.00
BCG         5.14
BCP          NaN
Vitros       NaN
Name: 260, dtype: float64
1
  NUM     257.00
  NUM     257.00
BCG         5.12
BCP          NaN
Vitros       NaN
Name: 263, dtype: float64
1
  NUM     264.00
  NUM     264.00
BCG         5.22
BCP          NaN
Vitros       NaN
Name: 270, dtype: float64
1
  NUM     266.0
  NUM     266.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 272, dtype: float64
1
  NUM     273.0
  NUM     273.0
BCG         5.0
BCP         NaN
Vitros      NaN
Name: 280, dtype: float64
1
  NUM     276.0
  NUM     276.0
BCG         4.6
BCP         NaN
Vitros      NaN
Name: 283, dtype: float64
1
  NUM     289.0
  NUM     289.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 296, dtype: float64
1
  NUM     301.0
  NUM     301.0
BCG         4.0
BCP         NaN
Vitros      NaN
Name: 308, dtype: float64
1
  NUM     308.0
  NUM     308.0
BCG         NaN
BCP         5.2
Vitros      NaN
Name: 315, dtype: float64
1
  NUM     309.0
  NUM     309.0
BCG         NaN
BCP         5.2
Vitros      NaN
Name: 316, dtype: float64
1
  NUM     311.0
  NUM     311.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 318, dtype: float64
1
  NUM     323.0
  NUM     323.0
BCG         NaN
BCP         4.9
Vitros      NaN
Name: 330, dtype: float64
1
  NUM     328.00
  NUM     328.00
BCG         5.36
BCP          NaN
Vitros       NaN
Name: 335, dtype: float64
1
  NUM     333.0
  NUM     333.0
BCG         NaN
BCP         5.4
Vitros      NaN
Name: 340, dtype: float64
1
  NUM     336.0
  NUM     336.0
BCG         NaN
BCP         5.2
Vitros      NaN
Name: 344, dtype: float64
1
  NUM     338.0
  NUM     338.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 346, dtype: float64
1
  NUM     351.0
  NUM     351.0
BCG         5.0
BCP         NaN
Vitros      NaN
Name: 359, dtype: float64
1
  NUM     356.0
  NUM     356.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 364, dtype: float64
1
  NUM     365.0
  NUM     365.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 374, dtype: float64
1
  NUM     381.0
  NUM     381.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 390, dtype: float64
1
  NUM     383.0
  NUM     383.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 392, dtype: float64
1
  NUM     387.0
  NUM     387.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 396, dtype: float64
1
  NUM     391.0
  NUM     391.0
BCG         5.0
BCP         NaN
Vitros      NaN
Name: 400, dtype: float64
1
  NUM     402.0
  NUM     402.0
BCG         5.6
BCP         NaN
Vitros      NaN
Name: 411, dtype: float64
1
  NUM     404.0
  NUM     404.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 413, dtype: float64
1
  NUM     406.0
  NUM     406.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 415, dtype: float64
1
  NUM     410.00
  NUM     410.00
BCG         5.28
BCP          NaN
Vitros       NaN
Name: 419, dtype: float64
1
  NUM     417.0
  NUM     417.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 426, dtype: float64
1
  NUM     425.0
  NUM     425.0
BCG         4.9
BCP         NaN
Vitros      NaN
Name: 434, dtype: float64
1
  NUM     429.00
  NUM     429.00
BCG         5.01
BCP          NaN
Vitros       NaN
Name: 438, dtype: float64
1
  NUM     433.0
  NUM     433.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 443, dtype: float64
1
  NUM     438.0
  NUM     438.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 449, dtype: float64
1
  NUM     452.0
  NUM     452.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 463, dtype: float64
1
  NUM     465.0
  NUM     465.0
BCG         NaN
BCP         5.4
Vitros      NaN
Name: 476, dtype: float64
1
  NUM     472.00
  NUM     472.00
BCG         5.33
BCP          NaN
Vitros       NaN
Name: 483, dtype: float64
1
  NUM     474.0
  NUM     474.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 485, dtype: float64
1
  NUM     481.0
  NUM     481.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 493, dtype: float64
1
  NUM     489.0
  NUM     489.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 501, dtype: float64
1
  NUM     493.0
  NUM     493.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 505, dtype: float64
1
  NUM     505.0
  NUM     505.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 517, dtype: float64
1
  NUM     510.0
  NUM     510.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 522, dtype: float64
1
  NUM     516.0
  NUM     516.0
BCG         NaN
BCP         5.2
Vitros      NaN
Name: 528, dtype: float64
1
  NUM     524.0
  NUM     524.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 537, dtype: float64
1
  NUM     525.0
  NUM     525.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 538, dtype: float64
1
  NUM     537.0
  NUM     537.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 551, dtype: float64
1
  NUM     538.0
  NUM     538.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 552, dtype: float64
1
  NUM     552.0
  NUM     552.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 566, dtype: float64
1
  NUM     554.0
  NUM     554.0
BCG         NaN
BCP         NaN
Vitros      5.2
Name: 568, dtype: float64
1
  NUM     558.00
  NUM     558.00
BCG         5.34
BCP          NaN
Vitros       NaN
Name: 572, dtype: float64
1
  NUM     568.0
  NUM     568.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 582, dtype: float64
1
  NUM     582.0
  NUM     582.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 596, dtype: float64
1
  NUM     583.0
  NUM     583.0
BCG         5.6
BCP         NaN
Vitros      NaN
Name: 597, dtype: float64
1
  NUM     589.0
  NUM     589.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 603, dtype: float64
1
  NUM     599.0
  NUM     599.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 614, dtype: float64
1
  NUM     603.0
  NUM     603.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 619, dtype: float64
1
  NUM     630.0
  NUM     630.0
BCG         4.4
BCP         NaN
Vitros      NaN
Name: 646, dtype: float64
1
  NUM     636.0
  NUM     636.0
BCG         4.6
BCP         NaN
Vitros      NaN
Name: 652, dtype: float64
1
  NUM     639.0
  NUM     639.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 655, dtype: float64
1
  NUM     643.0
  NUM     643.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 659, dtype: float64
1
  NUM     663.0
  NUM     663.0
BCG         6.9
BCP         NaN
Vitros      NaN
Name: 680, dtype: float64
1
  NUM     665.0
  NUM     665.0
BCG         NaN
BCP         5.3
Vitros      NaN
Name: 682, dtype: float64
1
  NUM     688.0
  NUM     688.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 705, dtype: float64
1
  NUM     690.0
  NUM     690.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 707, dtype: float64
1
  NUM     691.0
  NUM     691.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 708, dtype: float64
1
  NUM     692.0
  NUM     692.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 709, dtype: float64
1
  NUM     705.0
  NUM     705.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 722, dtype: float64
1
  NUM     719.0
  NUM     719.0
BCG         4.9
BCP         NaN
Vitros      NaN
Name: 736, dtype: float64
1
  NUM     721.0
  NUM     721.0
BCG         4.4
BCP         NaN
Vitros      NaN
Name: 738, dtype: float64
1
  NUM     738.0
  NUM     738.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 755, dtype: float64
1
  NUM     744.0
  NUM     744.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 761, dtype: float64
1
  NUM     767.0
  NUM     767.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 784, dtype: float64
1
  NUM     781.0
  NUM     781.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 798, dtype: float64
1
  NUM     794.0
  NUM     794.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 811, dtype: float64
1
  NUM     805.0
  NUM     805.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 822, dtype: float64
1
  NUM     807.00
  NUM     807.00
BCG         4.77
BCP          NaN
Vitros       NaN
Name: 824, dtype: float64
1
  NUM     815.0
  NUM     815.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 832, dtype: float64
1
  NUM     817.0
  NUM     817.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 834, dtype: float64
1
  NUM     856.0
  NUM     856.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 874, dtype: float64
1
  NUM     859.0
  NUM     859.0
BCG         5.7
BCP         NaN
Vitros      NaN
Name: 877, dtype: float64
1
  NUM     865.0
  NUM     865.0
BCG         6.0
BCP         NaN
Vitros      NaN
Name: 883, dtype: float64
1
  NUM     881.0
  NUM     881.0
BCG         NaN
BCP         5.4
Vitros      NaN
Name: 899, dtype: float64
1
  NUM     894.0
  NUM     894.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 912, dtype: float64
1
  NUM     900.0
  NUM     900.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 918, dtype: float64
1
  NUM     902.0
  NUM     902.0
BCG         5.7
BCP         NaN
Vitros      NaN
Name: 920, dtype: float64
1
  NUM     928.0
  NUM     928.0
BCG         4.7
BCP         NaN
Vitros      NaN
Name: 946, dtype: float64
1
  NUM     929.0
  NUM     929.0
BCG         NaN
BCP         NaN
Vitros      NaN
Name: 947, dtype: float64
1
  NUM     930.00
  NUM     930.00
BCG         5.07
BCP          NaN
Vitros       NaN
Name: 948, dtype: float64
1
  NUM     932.0
  NUM     932.0
BCG         5.0
BCP         NaN
Vitros      NaN
Name: 950, dtype: float64
1
  NUM     935.00
  NUM     935.00
BCG         5.21
BCP          NaN
Vitros       NaN
Name: 953, dtype: float64
1
  NUM     948.0
  NUM     948.0
BCG         4.5
BCP         NaN
Vitros      NaN
Name: 966, dtype: float64
1
  NUM     956.0
  NUM     956.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 975, dtype: float64
1
  NUM     960.0
  NUM     960.0
BCG         5.8
BCP         NaN
Vitros      NaN
Name: 979, dtype: float64
1
  NUM     975.0
  NUM     975.0
BCG         4.8
BCP         NaN
Vitros      NaN
Name: 994, dtype: float64
1
  NUM     978.0
  NUM     978.0
BCG         4.9
BCP         NaN
Vitros      NaN
Name: 997, dtype: float64
1
  NUM     982.0
  NUM     982.0
BCG         4.1
BCP         NaN
Vitros      NaN
Name: 1001, dtype: float64
1
  NUM     986.0
  NUM     986.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 1005, dtype: float64
1
  NUM     995.0
  NUM     995.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 1015, dtype: float64
1
  NUM     1001.0
  NUM     1001.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1021, dtype: float64
1
  NUM     1002.0
  NUM     1002.0
BCG          4.8
BCP          NaN
Vitros       NaN
Name: 1022, dtype: float64
1
  NUM     1007.0
  NUM     1007.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1027, dtype: float64
1
  NUM     1008.0
  NUM     1008.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1028, dtype: float64
1
  NUM     1009.0
  NUM     1009.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1029, dtype: float64
1
  NUM     1012.0
  NUM     1012.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1032, dtype: float64
1
  NUM     1014.0
  NUM     1014.0
BCG          4.5
BCP          NaN
Vitros       NaN
Name: 1034, dtype: float64
1
  NUM     1017.0
  NUM     1017.0
BCG          5.2
BCP          NaN
Vitros       NaN
Name: 1037, dtype: float64
1
  NUM     1030.0
  NUM     1030.0
BCG          5.3
BCP          NaN
Vitros       NaN
Name: 1050, dtype: float64
1
  NUM     1033.0
  NUM     1033.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1053, dtype: float64
1
  NUM     1040.0
  NUM     1040.0
BCG          5.2
BCP          NaN
Vitros       NaN
Name: 1060, dtype: float64
1
  NUM     1041.0
  NUM     1041.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1061, dtype: float64
1
  NUM     1059.0
  NUM     1059.0
BCG          5.0
BCP          NaN
Vitros       NaN
Name: 1079, dtype: float64
1
  NUM     1065.0
  NUM     1065.0
BCG          5.2
BCP          NaN
Vitros       NaN
Name: 1085, dtype: float64
1
  NUM     1071.00
  NUM     1071.00
BCG          5.39
BCP           NaN
Vitros        NaN
Name: 1091, dtype: float64
1
  NUM     1074.00
  NUM     1074.00
BCG          5.37
BCP           NaN
Vitros        NaN
Name: 1094, dtype: float64
1
  NUM     1085.0
  NUM     1085.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1105, dtype: float64
1
  NUM     1100.0
  NUM     1100.0
BCG          5.3
BCP          NaN
Vitros       NaN
Name: 1120, dtype: float64
1
  NUM     1102.00
  NUM     1102.00
BCG          5.35
BCP           NaN
Vitros        NaN
Name: 1122, dtype: float64
1
  NUM     1111.0
  NUM     1111.0
BCG          NaN
BCP          5.0
Vitros       NaN
Name: 1131, dtype: float64
1
  NUM     1140.00
  NUM     1140.00
BCG          5.47
BCP           NaN
Vitros        NaN
Name: 1160, dtype: float64
1
  NUM     1143.0
  NUM     1143.0
BCG          5.7
BCP          NaN
Vitros       NaN
Name: 1163, dtype: float64
1
  NUM     1152.00
  NUM     1152.00
BCG          5.03
BCP           NaN
Vitros        NaN
Name: 1172, dtype: float64
1
  NUM     1157.0
  NUM     1157.0
BCG          5.3
BCP          NaN
Vitros       NaN
Name: 1179, dtype: float64
1
  NUM     1175.0
  NUM     1175.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1197, dtype: float64
1
  NUM     1188.0
  NUM     1188.0
BCG          5.0
BCP          NaN
Vitros       NaN
Name: 1210, dtype: float64
1
  NUM     1192.0
  NUM     1192.0
BCG          NaN
BCP          5.2
Vitros       NaN
Name: 1214, dtype: float64
1
  NUM     1194.0
  NUM     1194.0
BCG          4.4
BCP          NaN
Vitros       NaN
Name: 1216, dtype: float64
1
  NUM     1201.0
  NUM     1201.0
BCG          5.3
BCP          NaN
Vitros       NaN
Name: 1223, dtype: float64
1
  NUM     1206.0
  NUM     1206.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1228, dtype: float64
1
  NUM     1215.0
  NUM     1215.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1237, dtype: float64
1
  NUM     1217.0
  NUM     1217.0
BCG          4.8
BCP          NaN
Vitros       NaN
Name: 1239, dtype: float64
1
  NUM     1218.0
  NUM     1218.0
BCG          5.1
BCP          NaN
Vitros       NaN
Name: 1240, dtype: float64
1
  NUM     1219.0
  NUM     1219.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1241, dtype: float64
1
  NUM     1222.0
  NUM     1222.0
BCG          5.6
BCP          NaN
Vitros       NaN
Name: 1244, dtype: float64
1
  NUM     1230.00
  NUM     1230.00
BCG          5.04
BCP           NaN
Vitros        NaN
Name: 1252, dtype: float64
1
  NUM     1241.0
  NUM     1241.0
BCG          5.7
BCP          NaN
Vitros       NaN
Name: 1263, dtype: float64
1
  NUM     1252.0
  NUM     1252.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1274, dtype: float64
1
  NUM     1255.0
  NUM     1255.0
BCG          NaN
BCP          NaN
Vitros       NaN
Name: 1277, dtype: float64
1
  NUM     1259.0
  NUM     1259.0
BCG          5.4
BCP          NaN
Vitros       NaN

In [4]:
data = pd.read_excel('228Report(October)cutwith1.5SD_Final_Addผลเพิ่ม.xlsm', sheetname="data", skiprows=range(13))

In [5]:
data.head()

,NUM,No,LAB NAME,BCG,BCP,Vitros,IFCC,AACC,DGKC,Vitros.1,...,Vitros.20,REFLO..11,Dade UV,1=15/10,test data,M VIS,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117
0,NaN,NaN,โรงพยาบาลเลิดสิน,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN,NaN,NaN
1,NaN,NaN,โรงพยาบาลพระรามเก้า,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN,NaN,NaN
2,3.0,3.0,บริษัท สเปเชียลแล็บเซ็นเตอร์,4.8,NaN,NaN,NaN,NaN,175.0,NaN,...,NaN,NaN,NaN,NaN,20,73.435529,NaN,NaN,NaN,NaN
3,4.0,4.0,โรงพยาบาลอาภากรเกียรติวงศ์,NaN,5.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18,79.847139,NaN,NaN,NaN,NaN
4,NaN,NaN,โรงพยาบาลราษฎร์บูรณะ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN,NaN,NaN

In [65]:
# educational
for rec in data[['  NUM','  LAB   NAME']][:3].iterrows():
    member_id = rec[1]['  NUM']
    member_name = rec[1]['  LAB   NAME']
    member_name = member_name.encode('utf8')
    if member_id.is_integer():
        print('%f %s' % (member_id, member_name))

3.000000 บริษัท สเปเชียลแล็บเซ็นเตอร์

In [63]:
# educational
type(member_id)

float

In [64]:
# educational

member_id.is_integer()

True

In [71]:
# educational

albumins.head()

     NUM  BCG  BCP  Vitros
0    NaN  NaN  NaN     NaN
1    NaN  NaN  NaN     NaN
2    3.0  4.8  NaN     NaN
3    4.0  NaN  5.4     NaN
4    NaN  NaN  NaN     NaN

In [76]:
# educational

for rec in albumins.dropna(how='all', subset=['BCG','BCP','Vitros']).iterrows():
    _, s = rec
    print(s['  NUM'], s['BCG'], s['BCP'], s['Vitros'])

(3.0, 4.7999999999999998, nan, nan)
(4.0, nan, 5.4000000000000004, nan)
(7.0, 5.2400000000000002, nan, nan)
(12.0, 5.7999999999999998, nan, nan)
(24.0, 5.2000000000000002, nan, nan)
(31.0, nan, 5.2000000000000002, nan)
(43.0, nan, 5.2000000000000002, nan)
(45.0, 5.4000000000000004, nan, nan)
(60.0, 5.0, nan, nan)
(64.0, 5.0999999999999996, nan, nan)
(65.0, 4.9000000000000004, nan, nan)
(70.0, 5.2000000000000002, nan, nan)
(71.0, 5.0800000000000001, nan, nan)
(83.0, 5.2000000000000002, nan, nan)
(94.0, 5.2999999999999998, nan, nan)
(98.0, nan, 5.2000000000000002, nan)
(100.0, 4.5999999999999996, nan, nan)
(101.0, 5.2999999999999998, nan, nan)
(110.0, 5.3499999999999996, nan, nan)
(120.0, 5.2400000000000002, nan, nan)
(121.0, 5.2999999999999998, nan, nan)
(131.0, 5.0999999999999996, nan, nan)
(132.0, 5.2999999999999998, nan, nan)
(135.0, 5.0999999999999996, nan, nan)
(146.0, 5.6799999999999997, nan, nan)
(152.0, 5.5, nan, nan)
(154.0, 5.3300000000000001, nan, nan)
(160.0, 5.2000000000000002, nan, nan)
(164.0, 5.0999999999999996, nan, nan)
(167.0, 5.5, nan, nan)
(173.0, 5.4000000000000004, nan, nan)
(175.0, nan, nan, 5.7000000000000002)
(179.0, 4.9699999999999998, nan, nan)
(182.0, 5.5, nan, nan)
(190.0, 4.9000000000000004, nan, nan)
(191.0, 5.2000000000000002, nan, nan)
(193.0, 5.0999999999999996, nan, nan)
(201.0, 4.7000000000000002, nan, nan)
(204.0, 5.2999999999999998, nan, nan)
(222.0, 5.4299999999999997, nan, nan)
(240.0, 5.5, nan, nan)
(241.0, 5.2000000000000002, nan, nan)
(254.0, 5.1399999999999997, nan, nan)
(257.0, 5.1200000000000001, nan, nan)
(264.0, 5.2199999999999998, nan, nan)
(273.0, 5.0, nan, nan)
(276.0, 4.5999999999999996, nan, nan)
(301.0, 4.0, nan, nan)
(308.0, nan, 5.2000000000000002, nan)
(309.0, nan, 5.2000000000000002, nan)
(311.0, 5.2999999999999998, nan, nan)
(323.0, nan, 4.9000000000000004, nan)
(328.0, 5.3600000000000003, nan, nan)
(333.0, nan, 5.4000000000000004, nan)
(336.0, nan, 5.2000000000000002, nan)
(338.0, 5.2000000000000002, nan, nan)
(351.0, 5.0, nan, nan)
(356.0, 5.4000000000000004, nan, nan)
(365.0, 5.4000000000000004, nan, nan)
(381.0, 5.4000000000000004, nan, nan)
(383.0, 5.2999999999999998, nan, nan)
(387.0, 5.4000000000000004, nan, nan)
(391.0, 5.0, nan, nan)
(402.0, 5.5999999999999996, nan, nan)
(404.0, 5.2999999999999998, nan, nan)
(406.0, 5.4000000000000004, nan, nan)
(410.0, 5.2800000000000002, nan, nan)
(425.0, 4.9000000000000004, nan, nan)
(429.0, 5.0099999999999998, nan, nan)
(433.0, 5.2000000000000002, nan, nan)
(438.0, 5.2999999999999998, nan, nan)
(465.0, nan, 5.4000000000000004, nan)
(472.0, 5.3300000000000001, nan, nan)
(474.0, 5.2999999999999998, nan, nan)
(481.0, 5.0999999999999996, nan, nan)
(493.0, 5.5, nan, nan)
(516.0, nan, 5.2000000000000002, nan)
(524.0, 5.4000000000000004, nan, nan)
(525.0, 5.4000000000000004, nan, nan)
(537.0, 5.4000000000000004, nan, nan)
(538.0, 5.4000000000000004, nan, nan)
(552.0, 5.4000000000000004, nan, nan)
(554.0, nan, nan, 5.2000000000000002)
(558.0, 5.3399999999999999, nan, nan)
(568.0, 5.0999999999999996, nan, nan)
(583.0, 5.5999999999999996, nan, nan)
(599.0, 5.4000000000000004, nan, nan)
(630.0, 4.4000000000000004, nan, nan)
(636.0, 4.5999999999999996, nan, nan)
(643.0, 5.4000000000000004, nan, nan)
(663.0, 6.9000000000000004, nan, nan)
(665.0, nan, 5.2999999999999998, nan)
(691.0, 5.0999999999999996, nan, nan)
(692.0, 5.2999999999999998, nan, nan)
(705.0, 5.5, nan, nan)
(719.0, 4.9000000000000004, nan, nan)
(721.0, 4.4000000000000004, nan, nan)
(767.0, 5.2999999999999998, nan, nan)
(794.0, 5.2000000000000002, nan, nan)
(807.0, 4.7699999999999996, nan, nan)
(817.0, 5.2999999999999998, nan, nan)
(859.0, 5.7000000000000002, nan, nan)
(865.0, 6.0, nan, nan)
(881.0, nan, 5.4000000000000004, nan)
(894.0, 5.2000000000000002, nan, nan)
(900.0, 5.5, nan, nan)
(902.0, 5.7000000000000002, nan, nan)
(928.0, 4.7000000000000002, nan, nan)
(930.0, 5.0700000000000003, nan, nan)
(932.0, 5.0, nan, nan)
(935.0, 5.21, nan, nan)
(948.0, 4.5, nan, nan)
(956.0, 5.2000000000000002, nan, nan)
(960.0, 5.7999999999999998, nan, nan)
(975.0, 4.7999999999999998, nan, nan)
(978.0, 4.9000000000000004, nan, nan)
(982.0, 4.0999999999999996, nan, nan)
(986.0, 5.2999999999999998, nan, nan)
(995.0, 5.5, nan, nan)
(1002.0, 4.7999999999999998, nan, nan)
(1014.0, 4.5, nan, nan)
(1017.0, 5.2000000000000002, nan, nan)
(1030.0, 5.2999999999999998, nan, nan)
(1040.0, 5.2000000000000002, nan, nan)
(1059.0, 5.0, nan, nan)
(1065.0, 5.2000000000000002, nan, nan)
(1071.0, 5.3899999999999997, nan, nan)
(1074.0, 5.3700000000000001, nan, nan)
(1100.0, 5.2999999999999998, nan, nan)
(1102.0, 5.3499999999999996, nan, nan)
(1111.0, nan, 5.0, nan)
(1140.0, 5.4699999999999998, nan, nan)
(1143.0, 5.7000000000000002, nan, nan)
(1152.0, 5.0300000000000002, nan, nan)
(1157.0, 5.2999999999999998, nan, nan)
(1188.0, 5.0, nan, nan)
(1192.0, nan, 5.2000000000000002, nan)
(1194.0, 4.4000000000000004, nan, nan)
(1201.0, 5.2999999999999998, nan, nan)
(1217.0, 4.7999999999999998, nan, nan)
(1218.0, 5.0999999999999996, nan, nan)
(1222.0, 5.5999999999999996, nan, nan)
(1230.0, 5.04, nan, nan)
(1241.0, 5.7000000000000002, nan, nan)
(1259.0, 5.4000000000000004, nan, nan)
(1260.0, 6.7999999999999998, nan, nan)
(1275.0, 4.9000000000000004, nan, nan)
(1277.0, 5.2999999999999998, nan, nan)
(1283.0, 5.4000000000000004, nan, nan)
(1289.0, 5.0999999999999996, nan, nan)
(1291.0, 5.2000000000000002, nan, nan)
(1296.0, 5.0999999999999996, nan, nan)
(1297.0, 5.0999999999999996, nan, nan)
(1306.0, 5.0999999999999996, nan, nan)
(1307.0, 5.54, nan, nan)
(1315.0, 5.5, nan, nan)
(1321.0, 5.0999999999999996, nan, nan)
(1330.0, 5.2999999999999998, nan, nan)
(1340.0, 5.2999999999999998, nan, nan)
(1365.0, 5.2999999999999998, nan, nan)
(1366.0, 4.7000000000000002, nan, nan)
(1368.0, 5.7000000000000002, nan, nan)
(1369.0, 5.0999999999999996, nan, nan)
(1372.0, 5.5999999999999996, nan, nan)
(1373.0, 6.6100000000000003, nan, nan)
(1374.0, 5.0099999999999998, nan, nan)
(1376.0, 5.3899999999999997, nan, nan)
(1378.0, 5.9800000000000004, nan, nan)
(1379.0, nan, 5.3700000000000001, nan)
(1380.0, 4.5999999999999996, nan, nan)
(1382.0, nan, 5.3799999999999999, nan)
(1384.0, 5.5999999999999996, nan, nan)
(1386.0, 5.0999999999999996, nan, nan)
(1388.0, 5.5099999999999998, nan, nan)
(1389.0, 4.9000000000000004, nan, nan)
(1394.0, nan, 5.5, nan)
(1397.0, 5.2999999999999998, nan, nan)
(1399.0, 4.9000000000000004, nan, nan)
(1401.0, 5.4000000000000004, nan, nan)

## Pseudocode

* read a row of data from the dataframe
* add a member ID, a test value, a method ID, a test ID, trial ID to a result table

In [103]:
test_dict = {
        'albumin': {'id': 1, 'columns': [3,4,5]},
        'alp': {'id': 2, 'columns': [5,6,7]},
    }

In [138]:
def insert_result(test_id, col_idx, member_id_col=0):
    '''
        columns : a list of column indexes for a test
    '''
    colnames = [data.columns[i] for i in col_idx]
    col_idx.insert(0, member_id_col)

    for rec in data[col_idx].dropna(how='all', subset=colnames).iterrows():
        _, s = rec
        print(test_id)
        print(s)

In [139]:
# educational

for test in test_dict.iteritems():
    tname, tinfo = test
    insert_result(tinfo['id'], tinfo['columns'])

1
  NUM     3.0
BCG       4.8
BCP       NaN
Vitros    NaN
Name: 2, dtype: float64
1
  NUM     4.0
BCG       NaN
BCP       5.4
Vitros    NaN
Name: 3, dtype: float64
1
  NUM     7.00
BCG       5.24
BCP        NaN
Vitros     NaN
Name: 6, dtype: float64
1
  NUM     12.0
BCG        5.8
BCP        NaN
Vitros     NaN
Name: 13, dtype: float64
1
  NUM     24.0
BCG        5.2
BCP        NaN
Vitros     NaN
Name: 25, dtype: float64
1
  NUM     31.0
BCG        NaN
BCP        5.2
Vitros     NaN
Name: 32, dtype: float64
1
  NUM     43.0
BCG        NaN
BCP        5.2
Vitros     NaN
Name: 44, dtype: float64
1
  NUM     45.0
BCG        5.4
BCP        NaN
Vitros     NaN
Name: 46, dtype: float64
1
  NUM     60.0
BCG        5.0
BCP        NaN
Vitros     NaN
Name: 61, dtype: float64
1
  NUM     64.0
BCG        5.1
BCP        NaN
Vitros     NaN
Name: 66, dtype: float64
1
  NUM     65.0
BCG        4.9
BCP        NaN
Vitros     NaN
Name: 67, dtype: float64
1
  NUM     70.0
BCG        5.2
BCP        NaN
Vitros     NaN
Name: 72, dtype: float64
1
  NUM     71.00
BCG        5.08
BCP         NaN
Vitros      NaN
Name: 73, dtype: float64
1
  NUM     83.0
BCG        5.2
BCP        NaN
Vitros     NaN
Name: 86, dtype: float64
1
  NUM     94.0
BCG        5.3
BCP        NaN
Vitros     NaN
Name: 97, dtype: float64
1
  NUM     98.0
BCG        NaN
BCP        5.2
Vitros     NaN
Name: 101, dtype: float64
1
  NUM     100.0
BCG         4.6
BCP         NaN
Vitros      NaN
Name: 103, dtype: float64
1
  NUM     101.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 105, dtype: float64
1
  NUM     110.00
BCG         5.35
BCP          NaN
Vitros       NaN
Name: 114, dtype: float64
1
  NUM     120.00
BCG         5.24
BCP          NaN
Vitros       NaN
Name: 124, dtype: float64
1
  NUM     121.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 125, dtype: float64
1
  NUM     131.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 135, dtype: float64
1
  NUM     132.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 136, dtype: float64
1
  NUM     135.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 139, dtype: float64
1
  NUM     146.00
BCG         5.68
BCP          NaN
Vitros       NaN
Name: 150, dtype: float64
1
  NUM     152.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 156, dtype: float64
1
  NUM     154.00
BCG         5.33
BCP          NaN
Vitros       NaN
Name: 158, dtype: float64
1
  NUM     160.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 164, dtype: float64
1
  NUM     164.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 168, dtype: float64
1
  NUM     167.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 171, dtype: float64
1
  NUM     173.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 177, dtype: float64
1
  NUM     175.0
BCG         NaN
BCP         NaN
Vitros      5.7
Name: 179, dtype: float64
1
  NUM     179.00
BCG         4.97
BCP          NaN
Vitros       NaN
Name: 183, dtype: float64
1
  NUM     182.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 186, dtype: float64
1
  NUM     190.0
BCG         4.9
BCP         NaN
Vitros      NaN
Name: 194, dtype: float64
1
  NUM     191.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 195, dtype: float64
1
  NUM     193.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 197, dtype: float64
1
  NUM     201.0
BCG         4.7
BCP         NaN
Vitros      NaN
Name: 205, dtype: float64
1
  NUM     204.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 208, dtype: float64
1
  NUM     222.00
BCG         5.43
BCP          NaN
Vitros       NaN
Name: 227, dtype: float64
1
  NUM     240.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 245, dtype: float64
1
  NUM     241.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 246, dtype: float64
1
  NUM     254.00
BCG         5.14
BCP          NaN
Vitros       NaN
Name: 260, dtype: float64
1
  NUM     257.00
BCG         5.12
BCP          NaN
Vitros       NaN
Name: 263, dtype: float64
1
  NUM     264.00
BCG         5.22
BCP          NaN
Vitros       NaN
Name: 270, dtype: float64
1
  NUM     273.0
BCG         5.0
BCP         NaN
Vitros      NaN
Name: 280, dtype: float64
1
  NUM     276.0
BCG         4.6
BCP         NaN
Vitros      NaN
Name: 283, dtype: float64
1
  NUM     301.0
BCG         4.0
BCP         NaN
Vitros      NaN
Name: 308, dtype: float64
1
  NUM     308.0
BCG         NaN
BCP         5.2
Vitros      NaN
Name: 315, dtype: float64
1
  NUM     309.0
BCG         NaN
BCP         5.2
Vitros      NaN
Name: 316, dtype: float64
1
  NUM     311.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 318, dtype: float64
1
  NUM     323.0
BCG         NaN
BCP         4.9
Vitros      NaN
Name: 330, dtype: float64
1
  NUM     328.00
BCG         5.36
BCP          NaN
Vitros       NaN
Name: 335, dtype: float64
1
  NUM     333.0
BCG         NaN
BCP         5.4
Vitros      NaN
Name: 340, dtype: float64
1
  NUM     336.0
BCG         NaN
BCP         5.2
Vitros      NaN
Name: 344, dtype: float64
1
  NUM     338.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 346, dtype: float64
1
  NUM     351.0
BCG         5.0
BCP         NaN
Vitros      NaN
Name: 359, dtype: float64
1
  NUM     356.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 364, dtype: float64
1
  NUM     365.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 374, dtype: float64
1
  NUM     381.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 390, dtype: float64
1
  NUM     383.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 392, dtype: float64
1
  NUM     387.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 396, dtype: float64
1
  NUM     391.0
BCG         5.0
BCP         NaN
Vitros      NaN
Name: 400, dtype: float64
1
  NUM     402.0
BCG         5.6
BCP         NaN
Vitros      NaN
Name: 411, dtype: float64
1
  NUM     404.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 413, dtype: float64
1
  NUM     406.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 415, dtype: float64
1
  NUM     410.00
BCG         5.28
BCP          NaN
Vitros       NaN
Name: 419, dtype: float64
1
  NUM     425.0
BCG         4.9
BCP         NaN
Vitros      NaN
Name: 434, dtype: float64
1
  NUM     429.00
BCG         5.01
BCP          NaN
Vitros       NaN
Name: 438, dtype: float64
1
  NUM     433.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 443, dtype: float64
1
  NUM     438.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 449, dtype: float64
1
  NUM     465.0
BCG         NaN
BCP         5.4
Vitros      NaN
Name: 476, dtype: float64
1
  NUM     472.00
BCG         5.33
BCP          NaN
Vitros       NaN
Name: 483, dtype: float64
1
  NUM     474.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 485, dtype: float64
1
  NUM     481.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 493, dtype: float64
1
  NUM     493.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 505, dtype: float64
1
  NUM     516.0
BCG         NaN
BCP         5.2
Vitros      NaN
Name: 528, dtype: float64
1
  NUM     524.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 537, dtype: float64
1
  NUM     525.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 538, dtype: float64
1
  NUM     537.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 551, dtype: float64
1
  NUM     538.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 552, dtype: float64
1
  NUM     552.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 566, dtype: float64
1
  NUM     554.0
BCG         NaN
BCP         NaN
Vitros      5.2
Name: 568, dtype: float64
1
  NUM     558.00
BCG         5.34
BCP          NaN
Vitros       NaN
Name: 572, dtype: float64
1
  NUM     568.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 582, dtype: float64
1
  NUM     583.0
BCG         5.6
BCP         NaN
Vitros      NaN
Name: 597, dtype: float64
1
  NUM     599.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 614, dtype: float64
1
  NUM     630.0
BCG         4.4
BCP         NaN
Vitros      NaN
Name: 646, dtype: float64
1
  NUM     636.0
BCG         4.6
BCP         NaN
Vitros      NaN
Name: 652, dtype: float64
1
  NUM     643.0
BCG         5.4
BCP         NaN
Vitros      NaN
Name: 659, dtype: float64
1
  NUM     663.0
BCG         6.9
BCP         NaN
Vitros      NaN
Name: 680, dtype: float64
1
  NUM     665.0
BCG         NaN
BCP         5.3
Vitros      NaN
Name: 682, dtype: float64
1
  NUM     691.0
BCG         5.1
BCP         NaN
Vitros      NaN
Name: 708, dtype: float64
1
  NUM     692.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 709, dtype: float64
1
  NUM     705.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 722, dtype: float64
1
  NUM     719.0
BCG         4.9
BCP         NaN
Vitros      NaN
Name: 736, dtype: float64
1
  NUM     721.0
BCG         4.4
BCP         NaN
Vitros      NaN
Name: 738, dtype: float64
1
  NUM     767.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 784, dtype: float64
1
  NUM     794.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 811, dtype: float64
1
  NUM     807.00
BCG         4.77
BCP          NaN
Vitros       NaN
Name: 824, dtype: float64
1
  NUM     817.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 834, dtype: float64
1
  NUM     859.0
BCG         5.7
BCP         NaN
Vitros      NaN
Name: 877, dtype: float64
1
  NUM     865.0
BCG         6.0
BCP         NaN
Vitros      NaN
Name: 883, dtype: float64
1
  NUM     881.0
BCG         NaN
BCP         5.4
Vitros      NaN
Name: 899, dtype: float64
1
  NUM     894.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 912, dtype: float64
1
  NUM     900.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 918, dtype: float64
1
  NUM     902.0
BCG         5.7
BCP         NaN
Vitros      NaN
Name: 920, dtype: float64
1
  NUM     928.0
BCG         4.7
BCP         NaN
Vitros      NaN
Name: 946, dtype: float64
1
  NUM     930.00
BCG         5.07
BCP          NaN
Vitros       NaN
Name: 948, dtype: float64
1
  NUM     932.0
BCG         5.0
BCP         NaN
Vitros      NaN
Name: 950, dtype: float64
1
  NUM     935.00
BCG         5.21
BCP          NaN
Vitros       NaN
Name: 953, dtype: float64
1
  NUM     948.0
BCG         4.5
BCP         NaN
Vitros      NaN
Name: 966, dtype: float64
1
  NUM     956.0
BCG         5.2
BCP         NaN
Vitros      NaN
Name: 975, dtype: float64
1
  NUM     960.0
BCG         5.8
BCP         NaN
Vitros      NaN
Name: 979, dtype: float64
1
  NUM     975.0
BCG         4.8
BCP         NaN
Vitros      NaN
Name: 994, dtype: float64
1
  NUM     978.0
BCG         4.9
BCP         NaN
Vitros      NaN
Name: 997, dtype: float64
1
  NUM     982.0
BCG         4.1
BCP         NaN
Vitros      NaN
Name: 1001, dtype: float64
1
  NUM     986.0
BCG         5.3
BCP         NaN
Vitros      NaN
Name: 1005, dtype: float64
1
  NUM     995.0
BCG         5.5
BCP         NaN
Vitros      NaN
Name: 1015, dtype: float64
1
  NUM     1002.0
BCG          4.8
BCP          NaN
Vitros       NaN
Name: 1022, dtype: float64
1
  NUM     1014.0
BCG          4.5
BCP          NaN
Vitros       NaN
Name: 1034, dtype: float64
1
  NUM     1017.0
BCG          5.2
BCP          NaN
Vitros       NaN
Name: 1037, dtype: float64
1
  NUM     1030.0
BCG          5.3
BCP          NaN
Vitros       NaN
Name: 1050, dtype: float64
1
  NUM     1040.0
BCG          5.2
BCP          NaN
Vitros       NaN
Name: 1060, dtype: float64
1
  NUM     1059.0
BCG          5.0
BCP          NaN
Vitros       NaN
Name: 1079, dtype: float64
1
  NUM     1065.0
BCG          5.2
BCP          NaN
Vitros       NaN
Name: 1085, dtype: float64
1
  NUM     1071.00
BCG          5.39
BCP           NaN
Vitros        NaN
Name: 1091, dtype: float64
1
  NUM     1074.00
BCG          5.37
BCP           NaN
Vitros        NaN
Name: 1094, dtype: float64
1
  NUM     1100.0
BCG          5.3
BCP          NaN
Vitros       NaN
Name: 1120, dtype: float64
1
  NUM     1102.00
BCG          5.35
BCP           NaN
Vitros        NaN
Name: 1122, dtype: float64
1
  NUM     1111.0
BCG          NaN
BCP          5.0
Vitros       NaN
Name: 1131, dtype: float64
1
  NUM     1140.00
BCG          5.47
BCP           NaN
Vitros        NaN
Name: 1160, dtype: float64
1
  NUM     1143.0
BCG          5.7
BCP          NaN
Vitros       NaN
Name: 1163, dtype: float64
1
  NUM     1152.00
BCG          5.03
BCP           NaN
Vitros        NaN
Name: 1172, dtype: float64
1
  NUM     1157.0
BCG          5.3
BCP          NaN
Vitros       NaN
Name: 1179, dtype: float64
1
  NUM     1188.0
BCG          5.0
BCP          NaN
Vitros       NaN
Name: 1210, dtype: float64
1
  NUM     1192.0
BCG          NaN
BCP          5.2
Vitros       NaN
Name: 1214, dtype: float64
1
  NUM     1194.0
BCG          4.4
BCP          NaN
Vitros       NaN
Name: 1216, dtype: float64
1
  NUM     1201.0
BCG          5.3
BCP          NaN
Vitros       NaN
Name: 1223, dtype: float64
1
  NUM     1217.0
BCG          4.8
BCP          NaN
Vitros       NaN
Name: 1239, dtype: float64
1
  NUM     1218.0
BCG          5.1
BCP          NaN
Vitros       NaN
Name: 1240, dtype: float64
1
  NUM     1222.0
BCG          5.6
BCP          NaN
Vitros       NaN
Name: 1244, dtype: float64
1
  NUM     1230.00
BCG          5.04
BCP           NaN
Vitros        NaN
Name: 1252, dtype: float64
1
  NUM     1241.0
BCG          5.7
BCP          NaN
Vitros       NaN
Name: 1263, dtype: float64
1
  NUM     1259.0
BCG          5.4
BCP          NaN
Vitros       NaN
Name: 1281, dtype: float64
1
  NUM     1260.0
BCG          6.8
BCP          NaN
Vitros       NaN
Name: 1282, dtype: float64
1
  NUM     1275.0
BCG          4.9
BCP          NaN
Vitros       NaN
Name: 1297, dtype: float64
1
  NUM     1277.0
BCG          5.3
BCP          NaN
Vitros       NaN
Name: 1299, dtype: float64
1
  NUM     1283.0
BCG          5.4
BCP          NaN
Vitros       NaN
Name: 1306, dtype: float64
1
  NUM     1289.0
BCG          5.1
BCP          NaN
Vitros       NaN
Name: 1312, dtype: float64
1
  NUM     1291.0
BCG          5.2
BCP          NaN
Vitros       NaN
Name: 1314, dtype: float64
1
  NUM     1296.0
BCG          5.1
BCP          NaN
Vitros       NaN
Name: 1319, dtype: float64
1
  NUM     1297.0
BCG          5.1
BCP          NaN
Vitros       NaN
Name: 1320, dtype: float64
1
  NUM     1306.0
BCG          5.1
BCP          NaN
Vitros       NaN
Name: 1329, dtype: float64
1
  NUM     1307.00
BCG          5.54
BCP           NaN
Vitros        NaN
Name: 1330, dtype: float64
1
  NUM     1315.0
BCG          5.5
BCP          NaN
Vitros       NaN
Name: 1338, dtype: float64
1
  NUM     1321.0
BCG          5.1
BCP          NaN
Vitros       NaN
Name: 1344, dtype: float64
1
  NUM     1330.0
BCG          5.3
BCP          NaN
Vitros       NaN
Name: 1353, dtype: float64
1
  NUM     1340.0
BCG          5.3
BCP          NaN
Vitros       NaN
Name: 1363, dtype: float64
1
  NUM     1365.0
BCG          5.3
BCP          NaN
Vitros       NaN
Name: 1388, dtype: float64
1
  NUM     1366.0
BCG          4.7
BCP          NaN
Vitros       NaN
Name: 1389, dtype: float64
1
  NUM     1368.0
BCG          5.7
BCP          NaN
Vitros       NaN
Name: 1391, dtype: float64
1
  NUM     1369.0
BCG          5.1
BCP          NaN
Vitros       NaN
Name: 1392, dtype: float64
1
  NUM     1372.0
BCG          5.6
BCP          NaN
Vitros       NaN
Name: 1395, dtype: float64
1
  NUM     1373.00
BCG          6.61
BCP           NaN
Vitros        NaN
Name: 1396, dtype: float64
1
  NUM     1374.00
BCG          5.01
BCP           NaN
Vitros        NaN
Name: 1397, dtype: float64
1
  NUM     1376.00
BCG          5.39
BCP           NaN
Vitros        NaN
Name: 1399, dtype: float64
1
  NUM     1378.00
BCG          5.98
BCP           NaN
Vitros        NaN
Name: 1401, dtype: float64
1
  NUM     1379.00
BCG           NaN
BCP          5.37
Vitros        NaN
Name: 1402, dtype: float64
1
  NUM     1380.0
BCG          4.6
BCP          NaN
Vitros       NaN
Name: 1403, dtype: float64
1
  NUM     1382.00
BCG           NaN
BCP          5.38
Vitros        NaN
Name: 1405, dtype: float64
1
  NUM     1384.0
BCG          5.6
BCP          NaN
Vitros       NaN
Name: 1407, dtype: float64
1
  NUM     1386.0
BCG          5.1
BCP          NaN
Vitros       NaN
Name: 1409, dtype: float64
1
  NUM     1388.00
BCG          5.51
BCP           NaN
Vitros        NaN
Name: 1411, dtype: float64
1
  NUM     1389.0
BCG          4.9
BCP          NaN
Vitros       NaN
Name: 1412, dtype: float64
1
  NUM     1394.0
BCG          NaN
BCP          5.5
Vitros       NaN
Name: 1417, dtype: float64
1
  NUM     1397.0
BCG          5.3
BCP          NaN
Vitros       NaN
Name: 1420, dtype: float64
1
  NUM     1399.0
BCG          4.9
BCP          NaN
Vitros       NaN
Name: 1422, dtype: float64
1
  NUM     1401.0
BCG          5.4
BCP          NaN
Vitros       NaN
Name: 1424, dtype: float64
2
  NUM      7.0
Vitros     NaN
IFCC      89.0
 AACC      NaN
Name: 6, dtype: float64
2
  NUM     12.0
Vitros     NaN
IFCC      84.0
 AACC      NaN
Name: 13, dtype: float64
2
  NUM     24.0
Vitros     NaN
IFCC       NaN
 AACC     92.0
Name: 25, dtype: float64
2
  NUM      31.0
Vitros      NaN
IFCC      120.0
 AACC       NaN
Name: 32, dtype: float64
2
  NUM     43.0
Vitros     NaN
IFCC      96.0
 AACC      NaN
Name: 44, dtype: float64
2
  NUM     45.0
Vitros     NaN
IFCC      79.0
 AACC      NaN
Name: 46, dtype: float64
2
  NUM     60.0
Vitros     NaN
IFCC       NaN
 AACC     78.0
Name: 61, dtype: float64
2
  NUM     64.0
Vitros     NaN
IFCC      99.0
 AACC      NaN
Name: 66, dtype: float64
2
  NUM     65.0
Vitros     NaN
IFCC      90.0
 AACC      NaN
Name: 67, dtype: float64
2
  NUM     70.0
Vitros     NaN
IFCC      99.0
 AACC      NaN
Name: 72, dtype: float64
2
  NUM     71.0
Vitros     NaN
IFCC      74.0
 AACC      NaN
Name: 73, dtype: float64
2
  NUM     83.0
Vitros     NaN
IFCC      83.0
 AACC      NaN
Name: 86, dtype: float64
2
  NUM     94.0
Vitros     NaN
IFCC      83.0
 AACC      NaN
Name: 97, dtype: float64
2
  NUM      98.0
Vitros      NaN
IFCC      124.0
 AACC       NaN
Name: 101, dtype: float64
2
  NUM     100.0
Vitros      NaN
IFCC        NaN
 AACC      70.0
Name: 103, dtype: float64
2
  NUM     101.0
Vitros      NaN
IFCC       84.0
 AACC       NaN
Name: 105, dtype: float64
2
  NUM     110.0
Vitros      NaN
IFCC       80.0
 AACC       NaN
Name: 114, dtype: float64
2
  NUM     120.0
Vitros      NaN
IFCC       90.0
 AACC       NaN
Name: 124, dtype: float64
2
  NUM     121.0
Vitros      NaN
IFCC        NaN
 AACC      82.0
Name: 125, dtype: float64
2
  NUM     131.0
Vitros      NaN
IFCC       77.0
 AACC       NaN
Name: 135, dtype: float64
2
  NUM     132.0
Vitros      NaN
IFCC       85.0
 AACC       NaN
Name: 136, dtype: float64
2
  NUM     135.0
Vitros      NaN
IFCC       99.0
 AACC       NaN
Name: 139, dtype: float64
2
  NUM     146.0
Vitros      NaN
IFCC       41.0
 AACC       NaN
Name: 150, dtype: float64
2
  NUM     152.0
Vitros      NaN
IFCC       79.0
 AACC       NaN
Name: 156, dtype: float64
2
  NUM     154.0
Vitros      NaN
IFCC       92.4
 AACC       NaN
Name: 158, dtype: float64
2
  NUM     160.0
Vitros      NaN
IFCC       84.0
 AACC       NaN
Name: 164, dtype: float64
2
  NUM     164.0
Vitros      NaN
IFCC       67.0
 AACC       NaN
Name: 168, dtype: float64
2
  NUM     167.0
Vitros      NaN
IFCC       97.0
 AACC       NaN
Name: 171, dtype: float64
2
  NUM     173.0
Vitros      NaN
IFCC       93.0
 AACC       NaN
Name: 177, dtype: float64
2
  NUM     175.0
Vitros      5.7
IFCC        NaN
 AACC       NaN
Name: 179, dtype: float64
2
  NUM     179.0
Vitros      NaN
IFCC       86.0
 AACC       NaN
Name: 183, dtype: float64
2
  NUM     182.0
Vitros      NaN
IFCC       58.0
 AACC       NaN
Name: 186, dtype: float64
2
  NUM     190.0
Vitros      NaN
IFCC       95.5
 AACC       NaN
Name: 194, dtype: float64
2
  NUM     191.0
Vitros      NaN
IFCC      110.0
 AACC       NaN
Name: 195, dtype: float64
2
  NUM     193.0
Vitros      NaN
IFCC       82.0
 AACC       NaN
Name: 197, dtype: float64
2
  NUM     201.0

In [133]:
data[[3,4,5]].dropna(how='all', subset=[data.columns[i] for i in [3,4,5]])[:5]

     BCG  BCP  Vitros
2   4.80  NaN     NaN
3    NaN  5.4     NaN
6   5.24  NaN     NaN
13  5.80  NaN     NaN
25  5.20  NaN     NaN

In [127]:
# educational

colnames = []
for i in [3,4,5]:
    colnames.append(data.columns[i])
    
print(colnames)

[u'BCG', u'BCP', u'Vitros']

In [128]:
# educational

colnames = [data.columns[i] for i in [3,4,5]]
print(colnames)

[u'BCG', u'BCP', u'Vitros']

In [137]:
# educational

colnames.insert(0, 'NUM')
print(colnames)

['NUM', u'BCG', u'BCP', u'Vitros']

In [77]:
# educational

d = {'a': 2, 'b': 3, 'c': 4}

In [86]:
# educational

for k, v in d.iteritems():
    print (k, v)

('a', 2)
('c', 4)
('b', 3)

In [93]:
# educational

data[[0,1,2,3]][0:10]

     NUM   No                             LAB   NAME   BCG
0    NaN  NaN                       โรงพยาบาลเลิดสิน   NaN
1    NaN  NaN                    โรงพยาบาลพระรามเก้า   NaN
2    3.0  3.0           บริษัท สเปเชียลแล็บเซ็นเตอร์  4.80
3    4.0  4.0             โรงพยาบาลอาภากรเกียรติวงศ์   NaN
4    NaN  NaN                   โรงพยาบาลราษฎร์บูรณะ   NaN
5    NaN  NaN                    โรงพยาบาลคามิลเลียน   NaN
6    7.0  7.0                   สถาบันมะเร็งแห่งชาติ  5.24
7    NaN  NaN                   โรงพยาบาลราษฎร์ยินดี   NaN
8    NaN  NaN  โรงพยาบาลธนบุรี ( Dimension RXL MAX )   NaN
9    NaN  NaN      โรงพยาบาลธนบุรี (Achitect Ci8200)   NaN